@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 15px;
  background-color: #fef4f4;
}

.primary-btn {
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  background-color: #f71302;
  color: #fafafa;
  font-size: 0.9rem;
}
