.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.6rem;
  font-weight: 900;
  text-decoration: none;
  color: #000;
}

.bookIcon {
  color: #f71302;
}

@media only screen and (max-width: 400px) {
  .logo {
    font-size: 1.3rem;
  }
}
